{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

  <div class="fh5co-loader"></div>
  
  <div id="page">
  <div id="fh5co-offcanvas"></div>
  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white"><i></i></a>
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 text-left">
        <!-- logo -->
          {{ page.site_branding }}
        <!-- logo end -->
        </div>
        <div class="col-xs-9 text-right menu-1">
        <!-- main-menu -->
          {{ page.primary_menu }}
        <!-- main menu end   -->
        </div>
      </div>
      
    </div>
  </nav>

  <!-- banner -->
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ bg_image_url }});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-7 text-left">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeInUp">
                <h1 class="mb30">{{ page['#title'] }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  <!-- banner end -->

   <!-- tabs -->
    {{ page.tabs }}
  <!-- tabs end -->
  
  <!-- page-not-found -->
  {%  set base_url = url('<front>')  %}
    <div id="fh5co-services">
      <div class="container">
        <div class="row row-pb-md">
          <div class="col-md-12">
            <section id="not-found-section" class="text-center">
              <div class="container">               
                <div class="row"> 
                  <div class="not-found-body" >
                    <div class="not-title" >
                      <h1>404</h1>
                      <h2>Page Not Found</h2> 
                    </div>  
                      <h2>Sorry. We can't find a page.</h2>
                      <p>The Page you are looking for might have a removed, had its name changed, or its temporarily unavailable.</p>      
                      <a href="{{ base_url }}" class="btn btn-custom"> Go Home </a>      
                  </div>
                </div>          
              </div>    
            </section>
          </div>  
        </div>
      </div>
    </div>   
  <!-- page-not-found-end -->

  <!-- footer -->
  <footer id="fh5co-footer" role="contentinfo" class="footer">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-4 fh5co-widget">
          <h3>{% if about_us_title|render is not empty %}{{ about_us_title }}{% endif %}</h3>
          <p>{% if about_desc|render is not empty %}{{ about_desc }}{% endif %}</p>
          {% if about_url|render is not empty %}
            <p><a href="{{ about_url }}">Learn More</a></p>
          {% endif %}
        </div>
        <div class="col-md-2 col-sm-4 fh5co-widget">
          {{ page.footer_menu }}
        </div>
        <div class="col-md-2 col-sm-4 fh5co-widget">
          {{ page.services }}
        </div>

        <div class="col-md-4 col-sm-4 fh5co-widget">
          <h3>{% if title|render is not empty %}{{ title }}{% endif %}</h3>
          <ul class="fh5co-footer-links">
            {% if address|render is not empty %}
              <p>{{ address }}</p>
            {% endif %}  
            {% if mail|render is not empty %}
              <li><a href="mailto:{{ mail }}">{{ mail }}</a></li>
            {% endif %}
            {% if contact_number|render is not empty %}
              <li><a href="tel:+01 2345 6789">{{ contact_number }}</a></li>
            {% endif %}

          </ul>
        </div>
      </div>

      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
          <!-- copyright -->
            <small class="block">&copy; 2018 <a href="#">YG Concept</a>. All Rights Reserved.
            </small><small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co </a>Theme By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a>, A Division of <a href="http://www.youngglobes.com" target="_blank">Young Globes</a></small>
          <!-- copyright end -->
          </p>
          <p>
          <!-- social links -->
            <ul class="fh5co-social-icons">
              {% if twitter_url|render is not empty %}
                <li><a href="{{ twitter_url }}"><i class="icon-twitter"></i></a></li>
              {% endif %}
              {% if facebook_url|render is not empty %}
                <li><a href="{{ facebook_url }}"><i class="icon-facebook"></i></a></li>
              {% endif %}
              {% if linkedin_url|render is not empty %}
                <li><a href="{{ linkedin_url }}"><i class="icon-linkedin"></i></a></li>
              {% endif %}
              {% if dribbble_url |render is not empty %}
                <li><a href="{{ dribbble_url }}"><i class="icon-dribbble"></i></a></li>
              {% endif %}
            </ul>
            <!-- social links end -->
          </p>
        </div>
      </div>

    </div>
  </footer>
  <!-- footer end -->
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
  
