img{
  object-fit: cover;
}
.fh5co-nav {
    z-index: 300;
}
.user-logged-in .fh5co-nav {
    top: unset;
    padding: 12px 0px 19px;; 
}
h2#block-footer-menu {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
div#location-map {
    position: relative;
    top: 8px;
}
#fh5co-started button.btn.btn-default a {
    color: #fff;
}
footer.footer {
    border-top: 1px solid #ddd;
}
/*blog-details*/
.blog-details{
    background: none !important;
}
.blog-details .blog-details-content {
    padding: 100px 0px 50px;
}
#blog.blog-details .blog-box {
    border: none !important;
}
.blog-details .blog-box .blog-caption ul {
    border: none;
    margin-top: 0px;
    padding: 0px 0px 5px;
}
.blog-details .blog-box img {
    width: 100%;
    height: 400px;
}
.blog-details blockquote:before {
    content: open-quote;
}
.blog-details blockquote:after {
    content: close-quote;
}
.blog-details blockquote {
    padding: 10px 20px;
    font-size: 15px;
    border-left: 5px solid #ddd;
    background: #f5f6f8;
    font-style: italic;
    margin: 20px 30px 20px;
}
.blog-details .blog-box .blog-caption ul li {
    padding: 0px 5px;
    list-style: none;
    display: inline-block;
}
.blog-details .blog-box .blog-caption ul li span {
    font-size: 13px;
    text-transform: capitalize;
}
.blog-details .blog-box {
    margin-bottom: 30px;
    box-shadow: 0px 0px 0px #000;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.0) !important;
}
.blog-details .get-in-touch::after {
    background-color: rgba(193, 188, 188, 0.2) !important;
}
.blog-details .custom-btn{
    border: none !important;
    cursor: pointer; 
}
.blog-details form input, .blog-details form textarea {
    width: 100%;
    border: none;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    font-size: 13.5px;
    margin-bottom: 5px;
    color: #000;
}
.blog-details form#contact_form {
    padding: 30px 0px;
}
.blog-details h3 {
    font-size: 25px;
    font-weight: 500;
    color: #333;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: 20px;
}
/*comment-form*/
.comment-row {
    margin-bottom: 60px;
}
.comment-row h3 {
    margin-bottom: 50px;
    margin-top: 20px;
}
.comment-item {
    position: relative;
    padding-left: 100px;
    padding-bottom: 27px;
    border-bottom: 1px solid #e7e4e4;
    margin-bottom: 25px;
}
.comment-item:last-child {
    border: none !important;
}
.blog-details .comment-item img {
    width: 80px !important;
    height: 80px !important;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.comment-item h5 {
    font-size: 14px;
    margin-bottom: 10px;
}
.comment-item span {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #c9c9c9;
    font-weight: 400;
    font-size: 12px;
}
.comment-item p {
    font-size: 13px;
    color: #777;
}
.middel-item {
    margin-left: 50px;
}
.form-control {
    height: 45px;
    margin-bottom: 30px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
textarea.form-control {
    height: auto;
}
.form-area {
    width: 100%;
}
/* Page not found */
#not-found-section {
    padding: 0px;
}
.not-found-body {
    max-width: 70%;
    margin: auto;
}
.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}
.not-title {
    padding: 10px 50px 30px 50px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}
.not-title h1 {
    font-size: 125px;
    margin: 0px;
    font-weight: 700;
    color: #2e2e2e;
}
.not-title h2 {
    font-size: 25px;
    margin: 0px;
    color: #2e2e2e;
}
#not-found-section .not-found-body p {
    color: #2e2e2e;
    color: #757575;
    font-size: 18px;
    font-weight: 600;
}
#not-found-section .not-found-body h2 {
    color: #2e2e2e;
    font-size: 25px;
    font-weight: 600;
}
#not-found-section a.btn.btn-custom{
    border: none !important;
    background: #F73859;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 4px;
}
#not-found-section a.btn.btn-custom:hover{
    background: #f6163c !important;
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
}
#not-found-section a.btn.btn-custom:focus {
    background: #f6163c !important;
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
}

@media (min-width: 380px) and (max-width: 480px){
    .not-title h1 {
        font-size: 92px !important;
        margin: 0px !important;
        color: #2e2e2e !important;
    }
    .not-title h2 {
        font-size: 22px !important;
        margin: 0px !important;
        color: #2e2e2e !important;
    }
    .not-title {
        padding: 10px 50px 30px 50px !important;
        width: 100% !important;
        margin: auto !important;
        margin-bottom: 40px !important;
        border-radius: 10px !important;
    }
}
@media (min-width: 320px) and (max-width: 380px){
    .not-title h1 {
        font-size: 70px !important;
        margin: 0px !important;
        color: #2e2e2e !important;
    }
    .not-title h2 {
        font-size: 17px !important;
        margin: 0px !important;
        color: #2e2e2e !important;
    }
    .not-title {
        width: 100% !important;
    }
    .not-found-body h2 {
        font-size: 20px;
        font-weight: 600;
    }
    #not-found-section a.btn.btn-custom {
        font-size: 17px;
        padding: 7px 60px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .not-title h1 {
        font-size: 92px !important;
        margin: 0px !important;
        color: #2e2e2e !important;
    }
    .not-title h2 {
        font-size: 22px !important;
        margin: 0px !important;
        color: #2e2e2e !important;
    }
    .not-title {
        padding: 10px 50px 30px 50px !important;
        width: 100% !important;
        margin: auto !important;
        margin-bottom: 40px !important;
        border-radius: 10px !important;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .not-title h1 {
        font-size: 92px !important;
        margin: 0px !important;
        color: #2e2e2e !important;
    }
    .not-title h2 {
        font-size: 22px !important;
        margin: 0px !important;
        color: #2e2e2e !important;
    }
    .not-title {
        padding: 10px 50px 30px 50px !important;
        width: 70% !important;
        margin: auto !important;
        margin-bottom: 40px !important;
        border-radius: 10px !important;
    }
}
/* End page not found*/

/* User login form css*/
#user-login {
  max-width: 40%;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 70px;
  margin-top: 80px;
  overflow: hidden;
}
/*form#user-login-form {
    padding: 46% 0px 0px;
}*/
.login-text .form-group input {
  padding: 10px;
  border-radius: 5px;
  width: 480px;
}
.login-text a {
    color:#2e2e2e;
}
.login-text a:hover {
    color: #f73859 !important;
}
.login-text h2 {
    font-size: 25px;
    font-weight: 700;
    color: #2e2e2e;
    text-transform: uppercase;
}
.login-button input {
    height: 54px;
    border: none !important;
    background: #F73859;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
}
.login-button input:hover{
    background: #f6163c !important;
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
}

.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}
#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}
#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
#user-register-form .form-actions input , #user-pass .form-actions input, .comment-comment-form #edit-actions input {
    height: 54px;
    border: none !important;
    background: #F73859;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover, .comment-comment-form #edit-actions input:hover {
    background: #f6163c !important;
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
}
#user-register-form .form-actions input:focus , #user-pass .form-actions input:focus, .comment-comment-form #edit-actions input:focus {
    background: #00B906;
    color: #fff;
    transition: 0.7s;
}

summary {
    font-size: 16px;
}
#user-register-form .form-actions label , #user-pass .form-actions label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 17px;
}
@media only screen and (max-width: 610px) {
    #user-login {
      max-width: 95% !important;
      margin: auto;
      padding: 20px 0px 40px;
      border: 2px solid #f5f5f5;
      margin-bottom: 40px;
      margin-top: 20px;
      overflow: hidden;
    }
    #user-register-form , #user-pass{
      max-width: 95% !important;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 40px;
      border: 2px solid #f5f5f5;
      padding: 20px 20px 40px;
      overflow: hidden;
    }
    .login-text .form-group input {
        width: 100%;
    }
}
@media (min-width: 610px) and (max-width: 768px) {
    #user-login {
      max-width: 75% !important;
    }
    #user-register-form , #user-pass{
      max-width: 75% !important;
    }
}

@media (min-width: 610px) and (max-width: 680px) {
    .login-text .form-group input {
        width: 100%;
    }
}
@media (min-width: 990px) and (max-width: 1300px) {
    #user-login {
        max-width: 55%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #user-login {
      max-width: 85% !important;
      margin: auto;
      padding: 20px 0px 40px;
      border: 2px solid #f5f5f5;
      margin-bottom: 40px;
      margin-top: 20px;
      overflow: hidden;
    }
    #user-register-form , #user-pass{
      max-width: 85% !important;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 40px;
      border: 2px solid #f5f5f5;
      padding: 20px 20px 40px;
      overflow: hidden;
    }
}
/* End  User login form css*/

/*contact-form*/
#fh5co-contact .form-item, #fh5co-contact .form-actions {
    margin: 0px;
}
#fh5co-contact .form-control {
  border-radius: 4px;
  margin-bottom: 0px;
}
@media (min-width: 768px) and (max-width: 992px) {
    #user-login {
      max-width: 85% !important;
      margin: auto;
      padding: 20px 0px 40px;
      border: 2px solid #f5f5f5;
      margin-bottom: 40px;
      margin-top: 20px;
      overflow: hidden;
    }
}