
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}

	<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInUp">
		<div class="fh5co-post">
			<span class="fh5co-date">{{ fields.created.content }}</span>
			<h3><a href="{{ fields.view_node.content }}">{{ fields.title.content }}</a></h3>
			{{ fields.body.content }}
			<p class="author">
				{% if fields.user_picture.content|render|trim is not empty %}
					<img src="{{ fields.user_picture.content }}" alt="{{ fields.name.content }}"> 
				{% else %}
					<img src="images/person1.jpg" alt="{{ fields.name.content }}"> 
				{% endif %}	
				<cite>{{ fields.name.content }}</cite>
			</p>
		</div>
	</div>