<!-- Banner -->
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({{ file_url(content.field_image['#items'].entity.uri.value) }});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-left">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp">
							<h1 class="mb30">{{ content.field_title.0 }}</h1>
							<p>
							{% if content.field_url.0|render is not empty %}
								<a href="{{ content.field_url[0]['#url']|render }}" target="_blank" class="btn btn-primary">{{ content.field_url[0]['#title'] }}</a>  
							{% endif %}
							<em class="or">or</em> 
							{% if content.field_video_link.0|render is not empty %}
								<a href="{{ content.field_video_link[0]['#url']|render }}" class="popup-youtube link-watch popup-vimeo">{{ content.field_video_link[0]['#title'] }}</a>
							{% endif %}	
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

<!-- banner-end -->

