<!-- our-team items-->
	<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
		<div class="fh5co-staff">
			<img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
			<h3>{{ content.field_title.0 }}</h3>
			<strong class="role">{{ content.field_secondary_title.0 }}</strong>
			{{ content.field_body.0 }}
			<ul class="fh5co-social-icons">
				{{ content.field_team_social_links }}
			</ul>
		</div>
	</div>
<!-- our-team iteams end-->



