<!-- social links -->
	{% if content.field_url.0|render is not empty %}
		<li><a href="{{ content.field_url[0]['#url']|render }}">
			<i class="{{ content.field_icons.0 }}"></i></a>
		</li>
	{% endif %}
<!-- social links end-->
