<!-- blog -->
	<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
					<span>{{ content.field_secondary_title.0 }}</span>
					<h2>{{ content.field_title.0 }}</h2>
					{{ content.field_body.0 }}
				</div>
			</div>
			<!-- blog-view -->
			{{ content.field_blog_view }}
		</div>
	</div>
<!-- blog end-->




