<!-- counter -->
	<div id="fh5co-counter">
		<div class="container">
			<div class="row animate-box" data-animate-effect="fadeInUp">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
					<span>{{ content.field_secondary_title.0 }}</span>
					<h2>{{ content.field_title.0 }}</h2>
					{{ content.field_body.0 }}
				</div>
			</div>

			<div class="row">
				{{ content.field_counter_items	 }}	
			</div>
		</div>
	</div>

<!-- counter end-->





