<!-- testimonial items -->
<div class="col-md-6 animate-box">
	{% if '0' in content.field_style[0] %}
		<div class="testimonial">
			<blockquote>
				<p>&ldquo;{{ content.field_body.0|render|striptags }}&rdquo;</p>
				<p class="author"> 
					<img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
				 	<cite>&mdash; {{ content.field_title.0 }}</cite>
				 </p>
			</blockquote>
		</div>
	{% else %}
		<div class="testimonial fh5co-selected">
			<blockquote>
				<p>&ldquo;{{ content.field_body.0|render|striptags }}&rdquo;</p>
				<p class="author">
					<img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
					<cite>&mdash; {{ content.field_title.0 }}</cite>
				</p>
			</blockquote>
		</div>
	{% endif %}
</div>

<!-- testimonial items end-->



