<!-- counter items -->
	<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
		<div class="feature-center">
			<span class="icon">
				<i class="ti-download"></i>
			</span>
			<span class="counter"><span class="js-counter" data-from="0" data-to="{{ content.field_secondary_title.0 }}" data-speed="1500" data-refresh-interval="50">{{ content.field_secondary_title.0 }}</span>{{ content.field_range.0 }}</span>
			<span class="counter-label">{{ content.field_title.0 }}</span>
		</div>
	</div>

<!-- counter items end-->