

	<form{{ attributes }}>
		<div class="row form-group">
			<div class="col-md-6">
				<label for="fname">{{ element.elements.first_name['#title'] }}</label>
				{{ element.elements.first_name }}
			</div>
			<div class="col-md-6">
				<label for="lname">{{ element.elements.last_name['#title'] }}</label>
				{{ element.elements.last_name }}
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-12">
				<label for="email">{{ element.elements.email['#title'] }}</label>
				{{ element.elements.email }}
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-12">
				<label for="subject">{{ element.elements.subject['#title'] }}</label>
				{{ element.elements.subject }}
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-12">
				<label for="message">{{ element.elements.message['#title'] }}</label>
				{{ element.elements.message }}
			</div>
		</div>
		<div class="form-group">
			{{ element.elements.actions }}
		</div>

	</form>		