    
  <div class="fh5co-loader"></div>
  
  <div id="page">
  <div id="fh5co-offcanvas"></div>
  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white"><i></i></a>
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 text-left">
        <!-- logo -->
          {{ page.site_branding }}
        <!-- logo end -->
        </div>
        <div class="col-xs-9 text-right menu-1">
        <!-- main-menu -->
          {{ page.primary_menu }}
        <!-- main menu end   -->
        </div>
      </div>
      
    </div>
  </nav>

   <!-- tabs -->
    {{ page.tabs }}
  <!-- tabs end -->
  
  <!-- content -->
    {{ page.content}}
  <!-- content end -->

  <!-- footer -->
  <footer id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-4 fh5co-widget">
          <h3>{% if about_us_title|render is not empty %}{{ about_us_title }}{% endif %}</h3>
          <p>{% if about_desc|render is not empty %}{{ about_desc }}{% endif %}</p>
          {% if about_url|render is not empty %}
            <p><a href="{{ about_url }}">Learn More</a></p>
          {% endif %}
        </div>
        <div class="col-md-2 col-sm-4 fh5co-widget">
          {{ page.footer_menu }}
        </div>
        <div class="col-md-2 col-sm-4 fh5co-widget">
          {{ page.services }}
        </div>

        <div class="col-md-4 col-sm-4 fh5co-widget">
          <h3>{% if title|render is not empty %}{{ title }}{% endif %}</h3>
          <ul class="fh5co-footer-links">
            {% if address|render is not empty %}
              <p>{{ address }}</p>
            {% endif %}  
            {% if mail|render is not empty %}
              <li><a href="mailto:{{ mail }}">{{ mail }}</a></li>
            {% endif %}
            {% if contact_number|render is not empty %}
              <li><a href="tel:+01 2345 6789">{{ contact_number }}</a></li>
            {% endif %}

          </ul>
        </div>
      </div>

      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
          <!-- copyright -->
            <small class="block">&copy; 2018 <a href="#">YG Concept</a>. All Rights Reserved.
            </small><small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co </a>Theme By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a>, A Division of <a href="http://www.youngglobes.com" target="_blank">Young Globes</a></small>
          <!-- copyright end -->
          </p>
          <p>
          <!-- social links -->
            <ul class="fh5co-social-icons">
              {% if twitter_url|render is not empty %}
                <li><a href="{{ twitter_url }}"><i class="icon-twitter"></i></a></li>
              {% endif %}
              {% if facebook_url|render is not empty %}
                <li><a href="{{ facebook_url }}"><i class="icon-facebook"></i></a></li>
              {% endif %}
              {% if linkedin_url|render is not empty %}
                <li><a href="{{ linkedin_url }}"><i class="icon-linkedin"></i></a></li>
              {% endif %}
              {% if dribbble_url |render is not empty %}
                <li><a href="{{ dribbble_url }}"><i class="icon-dribbble"></i></a></li>
              {% endif %}
            </ul>
            <!-- social links end -->
          </p>
        </div>
      </div>

    </div>
  </footer>
  <!-- footer end -->
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
  
 